/* Ajout css */
.page-title{
  font-family: 'Sedgwick Ave', cursive;
}

.jumbotron.header-block,.form-card-header{
  background-color: #FFE436;
}

.form-card-header{
	font-family: 'Sedgwick Ave', cursive;
}

main[role='main']{
  padding-top: 3rem;
}

.overview{
	display: none;
}

.read-more:hover{
	cursor: pointer;
}

a.follow,a.unfollow{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}